<ProgramInfo>
  <RequiredInfo>
    <FriendlyName>SimplSharp.Library</FriendlyName>
    <SystemName>SimplSharp.Library</SystemName>
    <EntryPoint>SimplSharp.Library</EntryPoint>
    <DesignToolId>6</DesignToolId>
    <ProgramToolId>6</ProgramToolId>
  </RequiredInfo>
  <OptionalInfo>
    <CompiledOn>2024-07-18T15:28:53.216-04:00</CompiledOn>
    <CompilerRev>1.0.0.0</CompilerRev>
  </OptionalInfo>
  <Plugin>
    <Include4.dat>2.20.66</Include4.dat>
  </Plugin>
</ProgramInfo>